        <footer>
            <p>
                <a href="#">Contact</a>
            </p>
            <p>
                <a href="#">Apps</a>
                <a href="#">Privacy Policy</a>
            </p>
            <span class="line"></span>
            <p>
                <a href="/">'sokkaritu'</a> a <a href="https://secreto.site">secreto</a> clone made by <a href="https://github.com/rzkfyn">rzkfyn</a> with &lt;3. Cr <a href="https://secreto/site">secreto.site</a>
            </p>
        </footer>
    </body>
</html>