<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="404">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>404 Not Found</title>
  </head>
  <body style="font-family: 'Nunito', sans-serif;">
    <figure style="margin: 50px 0 0 0; text-align: center;">
      <img src="/imgs/png/justyui.png" alt="404" width="300px">
      <figcaption>
        <h1>404 | <%= message %></h1>
      </figcaption>
    </figure>
    <p style="text-align: center;"><a style="color: light-blue; text-decoration: none;" href="/">Back to the main page</a></p>
  </body>
</html>